@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Author"]</p>

<address>
    <strong>More information: </strong> <a href="http://hectorwender.com.br">hectorwender.com.br</a>
</address>