@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhar departamento</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd style="padding-left:10px">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <input type="button" class="btn btn-primary" value="Editar" />
    </a>
    <a asp-action="Index">
        <input type="button" class="btn btn-default" value="Voltar" />
    </a>
</div>
